<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737462147882-c03g3sk380mh218dq0gn31ahvklo5rrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737462147882-c03g3sk380mh218dq0gn31ahvklo5rrf</string>
	<key>API_KEY</key>
	<string>AIzaSyAs_bLnejJ6QmgrwdRij_fUFcPVpn-dqSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>737462147882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unlimitedbiking.rentals</string>
	<key>PROJECT_ID</key>
	<string>unlimited-biking-micromobility</string>
	<key>STORAGE_BUCKET</key>
	<string>unlimited-biking-micromobility.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737462147882:ios:7f0247dd6a7054b1c65c53</string>
</dict>
</plist>