
<section ng-init="session();" style='background:#f4f5f6;' ng-controller="passwordResetController">
    <div class="fullwid">
        <div>
            <div class="row reset-panel-container" style="width: 720px;position:relative;top:50px;margin:0 auto;">

                <div class="col-md-9 col-sm-9 col-xs-9 login-panel" id="panel1" style="background: white;height: 495px; padding: 35px 75px;">
                    <img class = "logo" src="/images/lattis_logo_color.png" style="display:block;margin:0 auto 0 auto;width:70%;height:85px">

                    <div class = 'form_container'>
                        <div ng-if="$state.params.usrType !== 'new-user'">
                            <h3 style="font-weight:bold;">Choose a password</h3>
                            <p class = "p-b-20">Make it a strong one! Your password should include both numbers and letters and be between 8 and 20 characters long.</p>
                        </div>
                        <div ng-if="$state.params.usrType === 'new-user'">
                            <h3 style="font-weight:bold;">Welcome to lattis</h3>
                            <!--<p class = "p-b-20">Enter a password and select continue.</p>-->
                        </div>

                        <div ng-bind-html="divHtmlVar" style="color:red"></div>
                        <div ng-show="error" class="min alert alert-danger">{{errorMessage}}</div>
                        <div ng-show="success" class="alert alert-danger">{{successMessage}}</div>
                       <form class="form" name="form" novalidate ng-submit="submitForm()">
                            <div class="form-group">
                                <label for = "newPassword" style = "width: 100%; position: relative;"> New Password
                                <input type="password" id = "newPassword" class="form-control" name="newpassword"
                                       style="margin-top: 5px;background:#f4f5f6;border:1px solid #979797;border-radius: 0;"
                                       ng-model-options="{ updateOn: 'blur' }" ng-model="newpassword"
                                    ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])(?=\S+$).{8,20}$/"
                                    data-ng-required="true"
                                    ng-class="{err:!form.newpassword.$valid && !form.newpassword.$pristine}"
                                    ng-blur='validatepassword(form.newpassword)'>
                                    <p ng-if="!form.newpassword.$pristine && form.newpassword.$error.pattern" class="error-alert">
                                        Password not valid</p>
                                    <!--<p ng-if="newpassworderr" class="error-alert">Password is error</p>-->
                                </label>

                            </div>
                            <div class="form-group" style="position:relative;margin-bottom: 30px;">
                                <label for = "reEnterPassword" class="" style = "width: 100%;margin-bottom:0px;"> Re-enter Password <br>
                                <input id = "reEnterPassword" type="password" class="form-control" name="reenterpassword"
                                       style="margin-top: 10px;background:#f4f5f6;border:1px solid #979797; border-radius: 0;"
                                       ng-model-options="{ updateOn: 'blur' }" ng-model="reenterpassword"
                                       compare-to="newpassword"
                                       data-ng-required="true"
                                       ng-class="{err:!form.reenterpassword.$valid && !form.reenterpassword.$pristine}"
                                       ng-blur='validatepassword(form.reenterpassword)'>
                                    <p ng-if="!form.reenterpassword.$valid && !form.reenterpassword.$pristine" class="error-alert">
                                        Password's does not match</p>
                                </label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn custom-btn nobor-rad fullwid" ng-click="changePassword()" style="border-radius: 10px; padding: 10px; font-weight: bold">Change Password</button>
                            </div>
                        </form>
                    </div>

                </div>

                <div class = "col-md-3 col-sm-3 col-xs-3 animated"  id="panel2" style="height:495px; background: #394D65;position:relative;color:white;">
                    <div class = "side-panel-notice" style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:85%;">
                        <img class = "side-panel-image" src="/images/side-panel-question.png" style="display:block;margin:0 auto">
                        <h6 style="font-size:14px;font-weight:bold;">No need to ring for service. Our help center is always here for you!</h6>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


