<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665924283234-oog28ieb5pm00j0qvrasgkd4vhvreh6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665924283234-oog28ieb5pm00j0qvrasgkd4vhvreh6a</string>
	<key>API_KEY</key>
	<string>AIzaSyDCvOO8xtdi3F_OY91W2H8IKBih8AosYaE</string>
	<key>GCM_SENDER_ID</key>
	<string>665924283234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lockem.app</string>
	<key>PROJECT_ID</key>
	<string>lockem-lattis</string>
	<key>STORAGE_BUCKET</key>
	<string>lockem-lattis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665924283234:ios:2ab535f4889f5a5a06da3b</string>
</dict>
</plist>