<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670985681500-tv5l9q968l069fmv26nce7767j0iahlf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670985681500-tv5l9q968l069fmv26nce7767j0iahlf</string>
	<key>API_KEY</key>
	<string>AIzaSyAvp_YOK4zL0DHnrZ_6pnrOCUOJZzOkWTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>670985681500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.lattis.operator</string>
	<key>PROJECT_ID</key>
	<string>lattis-operator</string>
	<key>STORAGE_BUCKET</key>
	<string>lattis-operator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670985681500:ios:7f39ff85aca919bdd3c499</string>
</dict>
</plist>