<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550520023869-m614cd3e0uaeb7hk58jbed70ifnsah9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550520023869-m614cd3e0uaeb7hk58jbed70ifnsah9m</string>
	<key>API_KEY</key>
	<string>AIzaSyCpfx-ASCQKFoo7kh5D36nlnJmmqGQlkww</string>
	<key>GCM_SENDER_ID</key>
	<string>550520023869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bykes.yryde</string>
	<key>PROJECT_ID</key>
	<string>yryde-bykes</string>
	<key>STORAGE_BUCKET</key>
	<string>yryde-bykes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550520023869:ios:8cd4b1e99abd70a860f354</string>
</dict>
</plist>