<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060457071756-vqp90qm2973qm39mssmh06rsneeldef2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060457071756-vqp90qm2973qm39mssmh06rsneeldef2</string>
	<key>API_KEY</key>
	<string>AIzaSyAR6r5x9GJiPejh5vv0sMvYe6lguWYxjzE</string>
	<key>GCM_SENDER_ID</key>
	<string>1060457071756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.giraff.bikeshare</string>
	<key>PROJECT_ID</key>
	<string>giraff-per-italy</string>
	<key>STORAGE_BUCKET</key>
	<string>giraff-per-italy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060457071756:ios:371e552a81a17e2aad67a9</string>
</dict>
</plist>