div(class='divider')
	h2 7. Postal/Zip Code?
	input(type='text', class='field', ng-model='inputValues.zip', name='postal', placeholder='Input postal code', value='{{inputValues.zip}}')
	p(class='invalidField') {{invalidText}}
	a(ng-click='nextButtonClicked()',)
		button Next