// ANGULAR MODULE
script(src='/js/app.js')

//ANGULAR ROUTE
script(src='/js/vendor/angular-ui.min.js')

// ANGULAR ANIMATE
script(src='/js/vendor/angular-animate.min.js')

script(src='/js/vendor/underscore.js')

// ANGULAR SERVICE(S)
script(src='/js/services/update-service.js')

//ANGULAR CONTROLLER(S)
script(src='/js/controllers/home-controller.js')
script(src='/js/controllers/registration_controller.js')
script(src='/js/controllers/shipping_controller.js')
script(src='/js/controllers/color_controller.js')
