img(src='./images/icons/bike_lock.png' class = 'icon')
div(id = 'p_update')
	div(class='divider')
		h1 Almost done!
		h1 Just one more detail...
	a(ng-click='confirmShipping()', ui-sref='order_color')
		button Let's go! 