base(href='/')
meta(chartset='UTF-8')
title= 'Ellipse Order Verification'
<link href='https://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
link(rel='stylesheet',href='/stylesheets/styles.css')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js')