img(src='./images/icons/bike_lock.png' class = 'icon')
div(id = 'p_update', ng-init='init()')
	div(class='divider')
		h1 The Ellipse (formerly Skylock) shipping address confirmation tool has closed.
		h1 To confirm or change your address, please #[a(class = 'link' href='mailto:support@lattis.io') email us.]