img(src='./images/icons/confirm.png' class = 'confirm_icon')
div(id = 'p_update')
	div(class='divider')
		h1 You're already verified! Your order will ship soon! 
		h1 Questions? Email us at <a href="mailto:support@lattis.io">support@lattis.io</a>