//
//  Development.xcconfig
//  Operator
//
//  Created by Ravil Khusainov on 25.03.2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ROOT_URL = https:/$()/dev.api.lattis.io

APP_NAME = Operator Dev
APP_BUNDLE_ID = io.lattis.operator.dev
