<div class="home-module-wrapper home-image-gallery">    
    <div class="home-image-gallery-image">
      	<div class="left">
      		<img src="{{ 'skylock-keyless-bike-lock.png' | asset_url }}" alt="Skylock - keyless, electronic bike lock" class="image-w100" />
          	<img src="{{ 'skylock-solar-power-lock.png' | asset_url }}" alt="Skylock - solar powered bike lock" class="image-w100" />
          	<img src="{{ 'skylock-phone-app.png' | asset_url }}" alt="Skylock - bike lock that connects to phone" class="image-w100" />
      	</div>
      	<div class="right">
      		<img src="{{ 'skylock-bike-theft-alert.png' | asset_url }}" alt="Skylock - bike lock with theft alert" class="image-w100"  />
      	</div>
    </div>  
</div>