# TODO add versions
fastapi==0.65.1
uvicorn==0.11.3
python-geohash==0.8.5
passlib==1.7.4
python-jose==3.2.0
Shapely==1.7.0
python-geohash==0.8.5
polygon-geohasher==0.0.1
python-multipart==0.0.5
sqlalchemy
Jinja2==2.11.2
aiofiles==0.5.0
psycopg2==2.8.4
pandas==1.1.3
sqlparse==0.4.1