<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161499003767-02l7iskpam4lh6pr0ajilag3uaroec71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161499003767-02l7iskpam4lh6pr0ajilag3uaroec71</string>
	<key>API_KEY</key>
	<string>AIzaSyC7yh-bhdHosapZW5Y11ITwqlf35OcuU4w</string>
	<key>GCM_SENDER_ID</key>
	<string>161499003767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wawemobility</string>
	<key>PROJECT_ID</key>
	<string>arizona-slr-wawe</string>
	<key>STORAGE_BUCKET</key>
	<string>arizona-slr-wawe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161499003767:ios:cdfb12189c926a15a53f72</string>
</dict>
</plist>