<div class="modal-content">
  <div class="modal-header bg-HeaderToolbar ">
    <h3 class="modal-title text-white">RESERVATIONS</h3>
  </div>
  <div class="modal-body p-30 ">
    <p>By turning this feature ON you allow your users to schedule a reservation. Reservations only work if you have one parking spot.</p>
  </div>
  <div class="modal-footer">
    <div class="text-left fullwid m-b-30">
      <button ng-click="changesCancel()" class="btn custom-btn bg-HeaderToolbar wid-100"
              data-dismiss="modal">CANCEL
      </button>
      <a class="btn pull-right custom-btn text-uppercase wid-153" ng-click="changesSave()">SAVE CHANGES</a>
    </div>
  </div>
</div>
