<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598246578687-921snlp53j2q6g24k1c0aesm9uec1hkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598246578687-921snlp53j2q6g24k1c0aesm9uec1hkp</string>
	<key>API_KEY</key>
	<string>AIzaSyBkox7-0p60kidBMo8MvSTs0EF5DXfQO_k</string>
	<key>GCM_SENDER_ID</key>
	<string>598246578687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ourbike.bikeshare</string>
	<key>PROJECT_ID</key>
	<string>ourbike-comunity</string>
	<key>STORAGE_BUCKET</key>
	<string>ourbike-comunity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598246578687:ios:82bb12d642a5d387682fca</string>
</dict>
</plist>