<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907340690079-kdk05o5rmti3dgrom0ffrs8lp8gm8kk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907340690079-kdk05o5rmti3dgrom0ffrs8lp8gm8kk6</string>
	<key>API_KEY</key>
	<string>AIzaSyBZa6MS_pgGw8821T7q76gXkezf2UiOPso</string>
	<key>GCM_SENDER_ID</key>
	<string>907340690079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.lattis.www.Lattis.Dev</string>
	<key>PROJECT_ID</key>
	<string>lattis-app</string>
	<key>STORAGE_BUCKET</key>
	<string>lattis-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907340690079:ios:87d2c4e38a8c4e7d</string>
	<key>DATABASE_URL</key>
	<string>https://lattis-app.firebaseio.com</string>
</dict>
</plist>