//
//  Production.xcconfig
//  Lattis
//
//  Created by Ravil Khusainov on 16.08.2021.
//  Copyright © 2021 Lattis inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

OVAL_ENDPOINT = https:/$()/lattisappv2.lattisapi.io/api
CIRCLE_ENDPOINT = https:/$()/api.lattis.io
OVAL_BASE_URL = https:/$()/lattisappv2.lattisapi.io
CIRCLE_BASE_URL = https:/$()/api.lattis.io
