<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939454152934-n65nce2eg3ggcf6lb7k92b8tfe2itqb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939454152934-n65nce2eg3ggcf6lb7k92b8tfe2itqb0</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ5vmu9SIX3s2NQDRgRKNzey8829UxnDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>939454152934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.falco.smart</string>
	<key>PROJECT_ID</key>
	<string>falco-smart</string>
	<key>STORAGE_BUCKET</key>
	<string>falco-smart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939454152934:ios:52e6462bbdd2697311bb27</string>
</dict>
</plist>