<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698001467271-ul59t2n2sh9qoe09pqd2ki9f25qhamas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698001467271-ul59t2n2sh9qoe09pqd2ki9f25qhamas</string>
	<key>API_KEY</key>
	<string>AIzaSyBPq2TAmhyd7pbewXpIYLM8wWbUl4rBA-g</string>
	<key>GCM_SENDER_ID</key>
	<string>698001467271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guestbike.mobility</string>
	<key>PROJECT_ID</key>
	<string>guest-mobility-ab</string>
	<key>STORAGE_BUCKET</key>
	<string>guest-mobility-ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698001467271:ios:aff6be7c52fe30d56f9522</string>
</dict>
</plist>