<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831012670859-5q8v1uc4jmnnehdsl1cpv6l0kq9d33k0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831012670859-5q8v1uc4jmnnehdsl1cpv6l0kq9d33k0</string>
	<key>API_KEY</key>
	<string>AIzaSyCEtOFBxm7nf5APl_x7VPmlfCVySmC_NpA</string>
	<key>GCM_SENDER_ID</key>
	<string>831012670859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.goscoot.rentals</string>
	<key>PROJECT_ID</key>
	<string>goscoot-rentals</string>
	<key>STORAGE_BUCKET</key>
	<string>goscoot-rentals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831012670859:ios:038c56f7dd2ac13d3b738e</string>
</dict>
</plist>