<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>${BUNDLE_IDENTIFIER}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${APP_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1057259287662727</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>2a7c173f04d3a790e6717f79ae91223089986b40</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1057259287662727</string>
	<key>FacebookDisplayName</key>
	<string>Ellipse</string>
	<key>GoogleMapsApiKey</key>
	<string>${GOOGLE_MAPS_KEY}</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1IjoiamVyZW15cmljYXJkIiwiYSI6ImNrMTk4dnJtdjF6aDczcHRrZ250bTh0YmoifQ.nOLWdq-JtlSl62lncP6IpQ</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>The Ellipse app uses Bluetooth to communicate with your Ellipse Lock.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>The Ellipse app uses Bluetooth to communicate with your Ellipse Lock.</string>
	<key>NSCameraUsageDescription</key>
	<string>Ellipse would like access to your camera so you can take a photo for your profile picture.</string>
	<key>NSContactsUsageDescription</key>
	<string>Ellipse can detect if you’ve been in an accident and alert your loved ones by SMS. You can switch this off at any time.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Ellipse uses your location to send emergency messages to your contacts and to help you find your bike.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ellipse uses your location to send emergency messages to your contacts and to help you find your bike.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The Ellipse app uses microphone for bug reporting.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Ellipse would like access to your photos so you can choose a photo for your profile picture.</string>
	<key>OvalApiEndpoint</key>
	<string>${OVAL_ENDPOINT}</string>
	<key>UIAppFonts</key>
	<array>
		<string>Avenir-Light.ttf</string>
		<string>Avenir-Medium.ttf</string>
		<string>Avenir-Heavy.ttf</string>
		<string>Avenir-Book.ttf</string>
		<string>Avenir-Black.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
